# Python fundamentos

## Variáveis Python

In [9]:
a=10
b=5.2 #numero real ou float 
print(a+b)
c='variavel do tipo string'

15.2

Sobre a extrutura das variáveis

A=B Onde A se chama identificador, = operador de atribuição e B é o valor

## Comentários em python

In [5]:
# Para uma linha

https://docs.python.org/pt-br/3/tutorial/introduction.html#strings

# Números e operacoes matematicas

## 2 Tipos principais

https://docs.python.org/3/library/index.html

# int() -> inteiros positivos e negativos. Ex: -7 e 7.
#### float -> numeros fracionários, positivos e negativos. Ex: -7.1 e 7.1

#### a funçao type() serve para saber qual é o tipo de número

#### Podemos usar as funçoes int() e float() para converter os numeros.

#### O que sao funçoes Built-in? Sao funçoes interna do Python
https://docs.python.org/3/library/index.html

# Operadores aritimeticos

#        OPERADOR                        SIGNIFICADO                EXEMPLO
##           +                              soma                   2 + 2 -> 4
##           -                            subtraçao                3 - 2 -> 1 
##           *                          multiplicaçao              2 * 3 -> 6
##           %                             modulo                  5 % 2 -> 1                     
##           **                           potencia                 4 ** 2 -> 16
##           /                            divisao                  10 / 2 -> 5
##           int()                    converte p/ inteiro          int(3.2) -> 3
##           float()                   converte p/ float           float(2) -> 2.0

# Variáveis e operadores

### Regras

Uma variável não pode iniciar com um número
Não pode conter carcteres especiais
Não pode conter espaço no nome

In [5]:
var_teste=1

In [6]:
var_teste

1

In [7]:
print(var_teste)

1

In [8]:
#retorna um erro por não ter sido declarada anteriormente
my_var

NameError: name 'my_var' is not defined

In [9]:
#atribuindo valor 2 a variavel var_teste
var_teste=2

In [10]:
#imprimindo o valor contido em var_teste
var_teste

2

In [11]:
#função para descobrir o tipo de qualquer variável em python
type(var_teste)

int

In [12]:
var_teste=9.5  #atribuindo um valor float a uma variavel

In [13]:
type(var_teste)

float

In [14]:
x=1

In [15]:
x

1

# Declaração multipla

In [16]:
#É possivel fazer atribuição de varias variáveis em sequencia em python
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [17]:
pessoa1

'Maria'

In [18]:
pessoa2

'José'

In [19]:
pessoa3

'Tobias'

In [20]:
fruta1=fruta2=fruta3="Laranja"

In [21]:
fruta1

'Laranja'

In [22]:
fruta2

'Laranja'

In [23]:
fruta3

'Laranja'

## Pode se usar letras, numeros e underline (Mas não pode começar com numeros)

In [24]:
x1 = 50

In [25]:
x1

50

In [26]:
# Retorna um erro pois não pode começar com um numero
1x = 50

SyntaxError: invalid syntax (<ipython-input-26-04af301f921c>, line 1)

#### Não pode usar palavras reservadas como nome de variáveis

####